<%= stylesheet_link_tag 'top', :media => "all" %>
<div class="frame">

    <div class="header">
        <img src="/wave.png" alt="電波" width="25" height="20">
        <img class="header_right" src="/battery.png" alt="充電" width="30" height="20">
    </div>

    <p id="top_date"></p>
    <p id="top_time"></p>

    <p class="abstract">
    
    「あのとき、ああすればよかった」<br>
    「あのとき、なんでああしなかったんだ」<br>
    そんな後悔は誰にでもあると思います。<br><br>

    もし過去にメールが送れるとしたら・・・<br>
    それを叶えてくれるのが<br>
    <b>「Regretメール」</b>（雰囲気だけ）<br><br>

    後悔(Regret)を吐き出して、今のあなたが<br>
    少しでも楽になれたらいいなと<br>
    願っています。<br><br>
    
    他の方のメールを見るのもよし、<br>
    気が済むまで過去にメールを送るのもよし、<br><br><br>
    後悔の数だけ、公開されます。<br>
    </p>


    <div class="btn">
        <%= link_to "/posts/new" do %>
            Regretメール送信画面へ
        <% end %>
    </div>

</div>

<script>
    // 日付取得関数
    function formatDate() {
        let dt = new Date();

        var y = dt.getFullYear();
        var mon = ('00' + (dt.getMonth()+1)).slice(-2); // slice(-2):後ろ2つ取り出す 7月でも07になる!
        var d = ('00' + dt.getDate()).slice(-2);

        var week = dt.getDay();
        var week_ja= new Array("日","月","火","水","木","金","土");

        var h   = ('00' + dt.getHours()).slice(-2);
        var min = ('00' + dt.getMinutes()).slice(-2);

        //今を2023/10/05(木)形式で（topの日付）
        var top_date = y + "/" + mon + "/" + d + "(" + week_ja[week] + ")";
        document.getElementById("top_date").innerHTML = top_date;

        //今を22:05形式で（topの時刻）
        var top_time = h + ":" + min;
        document.getElementById("top_time").innerHTML = top_time;
    }
    
    setInterval("formatDate()", 1000); 

</script>