<%= stylesheet_link_tag 'new', :media => "all" %>

<%= form_tag("/posts/create") do %>

<div class="frame">

    <div class="header">
        <img src="/wave.png" alt="電波" width="25" height="20">
        <img class="header_right" src="/battery.png" alt="充電" width="30" height="20">
    </div>

    <div class="form">
        <div class="input_frame purple">
            <p>Regretメール作成</p>
        </div>
        
        <div class="input_frame">
            <label class="input_frame_son">
                宛先：
                <input class="width" name="name" required maxlength="12">
            </label>
        </div>

        <div class="input_frame">
            <label class="input_frame_son">
                受信日時：
                <input id="reserve_datetime" type="datetime-local" name="datetime" required>
            </label>
        </div>

        <div class="input_frame">
            <label class="input_frame_son">
                件名：
                <input class="width" name="sub" maxlength="12">
            </label>
        </div>

        <div>
            <textarea name="content" required maxlength="50"
              placeholder="後悔していることを書いてください。(50文字まで)"></textarea>
        </div>
    </div>

    <div class="btn">
        <input id="submit-show" class="submit" type="submit" value="送信">
        <input id="submit-success" type="hidden" value="<%= @submit_success %>">
    </div>

    <div id="submit-modal" class="submit-modal-wrapper">
        <div class="modal">
            <p class="modal-title">メール送信中・・・</p>

            <p class="submit-gage-ratio">40%</p>
            <div class="submit-gage">
                <div class="submit-gage-color"></div>
            </div>

            <div class="btn">
                <%= link_to "/posts/index" do %>
                    確認
                <% end %>
            </div>
        </div>
    </div>

</div>

<% end %>

<script>
    // 日付取得関数（top.htmlとnew.htmlで使う）
    function formatDate2() {
        let dt = new Date();

        var y = dt.getFullYear();
        var mon = ('00' + (dt.getMonth()+1)).slice(-2); // slice(-2):後ろ2つ取り出す 7月でも07になる!
        var d = ('00' + dt.getDate()).slice(-2);

        var h   = ('00' + dt.getHours()).slice(-2);
        var min = ('00' + dt.getMinutes()).slice(-2);

        //今を2023-10-05T22:05形式で（newの受信日時）
        var reserve_datetime = y + "-" + mon + "-" + d + "T" + h + ":" + min;
        //受信日時のmax属性に今日の日付をセット=今日より過去にしか設定できないようにする
        document.getElementById("reserve_datetime").max = reserve_datetime;
    }
    setInterval("formatDate2()", 1000); 


    // 送信中ポップアップ
    document.querySelector('#submit-show').addEventListener('click', function() {setTimeout(clickHandler2, 1000)});

    function clickHandler2() {
        var submit_success = document.querySelector('#submit-success').value;
        console.log("soto" + submit_success);
        if (submit_success == "ok"){
            console.log("naka" + submit_success);
            document.querySelector('#submit-modal').style.display = 'block';
        }
    };

    // コントローラーで更新された変数を反映させたい→Ajaxを使う

</script>