<%= stylesheet_link_tag 'new', :media => "all" %>

<div class="frame">

    <div class="header">
        <p>電波</p>
        <p class="header_right">充電</p>
    </div>

    <div class="form">
    <%= form_tag("") do %>
        <div class="input_frame purple">
            <p>Regretメール作成</p>
        </div>
        
        <div class="input_frame">
            <ul class="input_frame_son">
                <li>宛先：</li>
                <li class="input"><input name="name" required maxlength="12"></li>
            </ul>
        </div>

        <div class="clear input_frame">
            <ul class="input_frame_son">
                <li>受信日時：</li>
                <li class="input"><input type="datetime-local" name="datetime" required></li>
            </ul>
        </div>

        <div class="clear input_frame">
            <ul class="input_frame_son">
                <li>件名：</li>
                <li class="input"><input name="subject" maxlength="12"></li>
            </ul>
        </div>

        <div class="clear">
            <textarea name="content"></textarea>
        </div>
    <% end %>
    </div>

</div>

    <div class="btn">
        <input type="submit" value="送信">
    </div>