<%= stylesheet_link_tag 'new', :media => "all" %>

<%= form_tag("/posts/create") do %>

<div class="frame">

    <div class="header">
        <img src="/wave.png" alt="電波" width="25" height="20">
        <img class="header_right" src="/battery.png" alt="充電" width="30" height="20">
    </div>

    <div class="form">
        <div class="input_frame purple">
            <p>Regretメール作成</p>
        </div>
        
        <div class="input_frame">
            <label class="input_frame_son">
                宛先：
                <input class="width" name="name" required maxlength="12">
            </label>
        </div>

        <div class="input_frame">
            <label class="input_frame_son">
                受信日時：
                <input type="datetime-local" name="datetime" required>
            </label>
        </div>

        <div class="input_frame">
            <label class="input_frame_son">
                件名：
                <input class="width" name="sub" maxlength="12">
            </label>
        </div>

        <div>
            <textarea name="content" required maxlength="50"
              placeholder="後悔していることを書いてください。(50文字まで)"></textarea>
        </div>
    </div>

    <div class="btn">
        <input class="submit" type="submit" value="送信">
    </div>

</div>

<% end %>