/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */


 *, *:before, *:after {
    box-sizing: border-box;
}

body{
    font-family: "Yu Gothic Medium", sans-serif;
    background-color: aliceblue;
}

header a{
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    color: rgba(0,0,0,1);
    display: block;
    padding: 10px 0;
}

header, footer{
    background-color: #afafb0;
    border-right: 2px #000 solid;
    border-left: 2px #000 solid;
}
header{
    border-radius: 3rem 3rem 0 0;
    border-top: 2px #000 solid;
}
footer{
    border-radius: 0 0 3rem 3rem;
    border-bottom: 2px #000 solid;
    height: 73px;
}

.frame, header, footer{
    margin: 0 25%;
}
/* スマホ対応 */
@media(max-width:768px){
    .frame, header, footer{
        margin: 0;
    }
}

.btn{
    width: 50%;
    margin: 0 auto;
}

.btn a, .submit{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    background-color: #afafb0;
    border: 2px #000 solid;
    padding: 1rem;
    text-decoration: none;
    color: #000;
    display: block;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1rem 0;
}

.btn a:hover,
.submit:hover{
    background-color: #858484;
}

.frame{
    background-color: rgba(255,255,255,1);
    border: 2px #000 solid;
    padding: 1rem;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header_right{
    text-align: right;
}
