.explain{
    display: flex;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 25% 1rem 25%;
}

/* スマホ対応 */
@media(max-width:768px){
    .explain{
        margin: 0 auto 1rem auto;
    }
}

.explain1{
    border: #000 2px solid;
    padding: 0.25rem 0.5rem;
    background-color: rgba(255,255,255,1);
}

.explain2{
    border: #000 2px solid;
    background-color: #d9d2e9ff;
    /* 右に押し出される */
    margin-left: auto;
}

.explain2 a{
    padding: 0.25rem 0.5rem;
    display: block;
    text-decoration: none;
    color: #000;
}

.form{
    width: 100%;
}

.form p{
    margin: 0 0 0 10px;
}

.red{
    background-color: #e06666ff;
}

.form input{
    outline: none;
    border: none;
    padding: 0;
}

.width{
    width: 300px;
}

.textarea{
    width: 100%;
    min-height: 5rem;
    height: auto;
    border: 1px #000 solid;
    padding-left: 10px;
    font-size: large;
    white-space: pre-wrap;
}

li{
    list-style: none;
    float: left;
}

.clear{
    clear: both;
}

.input_frame_son{
    padding: 0;
    margin: 0 0 0 10px;
}

.input_frame{
    border: 1px #000 solid;
    overflow: auto;
}

.gray{
    background-color: #afafb0;
}

.gray input{
    background-color: #afafb0;
}

.btn input{
    border: none;
    background-color: #afafb0;
}