#top_time{
    text-align: center;
    font-size: 6rem;
    margin: 0;
}

#top_date{
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.abstract{
    text-align: center;
    margin: 2rem 0;
}